.container {
  margin: 5rem 10rem;
}

.item {
  display: flex;
  margin: 50px 0px;
  justify-content: space-between;
}

.item .texto {
  margin: 2.5rem 1rem;
  width: 30rem;
  font-size: 20px;
  line-height: 30px;
}

.item .imagem img {
  width: 300px;
  height: 200px;
}